<h1>Edit Profile</h1>

<%= form_for @user, method: :patch, action: '/profile' do |form| %>
  Name: <%= form.text_field :name %><br>
  Address: <%= form.text_field :address %><br>
  City: <%= form.text_field :city %><br>
  State: <%= form.text_field :state %><br>
  Zipcode: <%= form.text_field :zip %><br>
  Email: <%= form.text_field :email %><br>
  <%= form.submit value: 'Submit' %>
<% end %>
