<h1>Order <%= @order.id %></h1>

<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>
  <table align = "center">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td>
        <p><%= @order.name %> </p>
      </td>
      <td>
        <p><%= @order.address %> </p>
      </td>
      <td>
        <p><%= @order.city %> </p>
      </td>
      <td>
        <p><%= @order.state %> </p>
      </td>
      <td>
        <p><%= @order.zip %> </p>
      </td>
    </tr>
  </table>
</section>

<h1 align = "center">Order Info</h1>
<h3 align = "center">Item Count: <%= @order.item_count %></h3>

<table>
  <tr>
    <th>Photo</th>
    <th>Item</th>
    <th>Status</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @order.merchant_item_orders(@user.merchant_id).each do |item_order|%>
    <tr id = "item_order-<%=item_order.id%>">
      <section >
        <td><%= image_tag item_order.item.image, width:"10%" %></td>
        <td>
          <p><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></p>
        </td>
        <td>
          <p>
            <%= item_order.status.capitalize %>
            <% if item_order.status != 'fulfilled' && item_order.quantity <= item_order.item.inventory %>
              <%= button_to 'Fulfill', merchant_order_path(@order.id), method: :patch, params: {todo: :fulfill, item_order: item_order.id} %>
            <% elsif item_order.status != 'fulfilled' %>
              Cannot fulfill due to lack of inventory
            <% end %>
          </p>
        </td>
        <td>
          <p><%= number_to_currency(item_order.price)%></p>
        </td>
        <td>
          <p><%= item_order.quantity%></p>
        </td>
        <td>
          <p><%= number_to_currency(item_order.subtotal)%></p>
        </td>
      </section>
    </tr>
  <% end %>
</table>
